@import "../../shared/styles/variables.scss";

$minWidth: 1250px;
$paddingVal: 15vw;

.landing {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .landing-container {
    width: 100vw;
    display: flex;

    @media screen and (min-width: $minWidth) {
      width: 45vw;
    }
  }


  /* The container on the left */
  .landing-container-1 {
    justify-content: center;

    @media screen and (min-width: $minWidth) {
      padding-left: $paddingVal;
      justify-content: start;
      align-items: center;
    }

    .landing-header {
      margin-top: 10vh;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0px;
      height: 400px;
      width: 300px;

      @media screen and (min-width: $minWidth) {
        margin-top: 0;
      }

      p {
        width: 275px;
        text-align: center;
        margin-bottom: -10px;
      }

      .landing-logo {
        width: 300px;
        padding-bottom: 20px;
      }
    }
  }

  
  /* The container on the right */
  .landing-container-2 {
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;

    @media screen and (min-width: $minWidth) {
      margin-top: 0vh;
      padding-right: $paddingVal;
      justify-content: end;
    }

    .landing-form {
      background-color: $orange2;
      box-shadow: 0 6px 20px rgb(0 0 0 / 0.25);
      padding: 25px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      margin-top: 5vh;
      margin-bottom: 15vh;
      align-items: center;

      @media screen and (min-width:$minWidth) {
        margin-top: 0vh;
        margin-bottom: 0px;
      }

      .error-container {
        height: 40px;
        padding-top: 10px;
        font-style: italic;
        color: $black1;
      }

      .suggestions-list {
        height: 250px;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 10px;
        margin-bottom: 25px;
        
        .suggestions-tile {
          margin-top: 10px;
          margin-bottom: 10px;
          width: 300px;
          height: 100px;
          display: flex;
          background-color: $black1;
          border-radius: 10px;

          @media screen and (min-width: $minWidth) {
            width: 350px;
          }

          img {
            width: 100px;
            height: 100px;
            margin-right: 10px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }

          p {
            height: 90px;
            width: 185px;
            color: $white3;
            font-size: 20px;
            padding: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            background-color: $yellow2;
          }
        }
      }

      .suggestion-buttons-container {
        flex: display;
        flex-direction: row;

        button {
          width: 150px;
        }
      }
      
      button {
        width: 250px;
        height: 50px;
        margin-bottom: 10px;
      }

      input, .suggestion-tile, .suggestion-list {
        width: 300px;
        margin-bottom: 10px;

        @media screen and (min-width: $minWidth) {
          width: 350px;
        }
      }
    }
  }
}