$black1: #030301;
$red1: #A51C30;
$red2: #A7333F;
$red3: #FF3864;
$red4: #FE4A49;
$white1: #FFFAFF;
$white2: #ECF0F1;
$white3: #F7F3E3;
$orange1: #F06543; 
$orange2: #FFA85C;
$yellow1: #FAF2A1;
$yellow2: #FED766;
$blueGrey1: #3A405A;